In [24]:
import pandas as pd
import seaborn as sns

df = pd.read_csv(r'C:\Users\Insec\OneDrive\Escritorio\Todo\Salarios\Libro.csv')


df['FullIncome'] = df.Count * df.Income

countList = []
incomeList = []
fullIncomeList = []
df.head()

         Count  Income  FullIncome
0   231.160888       0         0.0
1  1132.790638       0         0.0
2  1073.122271       0         0.0
3   632.839520       0         0.0
4   917.198522       0         0.0

In [25]:
binSize = 100

for i in range(0, len(df), binSize):
    binSum = df['Count'][i:i+binSize].sum()
    binSum2 = df['FullIncome'][i:i+binSize].sum()
    countList.append(round(binSum,2))
    fullIncomeList.append(round(binSum2,2))

In [26]:
print(countList)
print(fullIncomeList)

for i in range(len(countList)):
    newValue = fullIncomeList[i]/countList[i]
    incomeList.append(round(newValue,2))
print(incomeList)

[73031.69, 43881.98, 77090.05, 73153.37, 30744.77, 106866.26, 167500.97, 65299.86, 116392.24, 96995.51, 92950.2, 65152.17, 58045.87, 139164.86, 32353.12, 87893.22, 82342.82, 83984.77, 75194.52, 112825.22, 53474.45, 78196.69, 66112.91, 76727.24, 107058.48, 82772.96, 88237.12, 86265.51, 76504.47, 85130.19, 42427.63, 68925.85, 99893.29, 123025.74, 73321.85, 57229.54, 66757.58, 89658.1, 62347.19, 89156.1, 73844.44, 76407.06, 53860.43, 67629.69, 102968.11, 120569.21, 109911.37, 57774.17, 76632.69, 57931.19, 102663.6, 78851.84, 105907.0, 96656.27, 96604.26, 53691.0, 63748.85, 52926.28, 78414.26, 105494.06, 90062.94, 83341.43, 49348.96, 77684.13, 47529.13, 79408.63, 72498.53, 72933.83, 94079.82, 82181.92, 50704.17, 82620.82, 75711.35, 122218.15, 44844.34, 76258.2, 100280.25, 71669.71, 56153.9, 42645.71, 86106.45, 76560.61, 81197.83, 42530.02, 49232.34, 66780.88, 32545.04, 95831.52, 120564.43, 29794.73, 114237.03, 59041.34, 72321.71, 56227.45, 102083.04, 32746.13, 84543.96, 86161.73, 58956.64, 43794.6, 43248.15, 123476.42, 56243.42, 72095.02, 69833.53, 44674.14, 91911.23, 63658.48, 77599.92, 59344.42, 46883.92, 58217.15, 54808.51, 111305.5, 101887.99, 72491.56, 62274.14, 67801.58, 48992.38, 122022.54, 30793.26, 73120.24, 62477.5, 66896.34, 39146.32, 43534.01, 76186.13, 57646.33, 70742.39, 76161.38, 61799.56, 66821.58, 76993.76, 58554.37, 67151.87, 47302.3, 48906.06, 78002.1, 91162.27, 105677.72, 67878.83, 65648.83, 78764.99, 80643.62, 87589.84, 27991.46, 70849.08, 121043.7, 24144.28, 52555.68, 77305.36, 66281.52, 109670.32, 62545.17, 88915.11, 100327.11, 24760.91, 35923.91, 120882.66, 22779.86, 22792.5, 94087.17, 57627.02, 28374.77, 125431.85, 73821.0, 28475.85, 57940.59, 107193.28, 100911.19, 154542.23, 18634.01, 21749.67, 29367.25, 85125.26, 203687.7, 84244.8, 133694.74, 52749.99, 94563.31, 45214.15, 24323.39, 66929.97, 20831.91, 111131.17, 133080.78, 22803.84, 25278.98, 66566.83, 49819.68, 60484.91, 39873.49, 36672.8, 81538.77, 68861.16, 139603.67, 21248.08, 106732.45, 70140.09, 81195.25, 52572.79, 66702.03, 99185.5, 64696.95, 43764.27, 101101.14, 84978.74, 62746.47, 55879.53, 46936.68, 80936.06, 38951.0, 96750.73, 97782.21, 56824.2, 83469.64, 99107.3, 39493.08, 60038.91, 71997.5, 33995.1, 77240.36, 88924.29, 99762.95, 70888.25, 77231.56, 73034.43, 75953.35, 67957.08, 63120.21, 84472.14, 62901.95, 47187.32, 52105.53, 80362.54, 88356.13, 61814.86, 71581.79, 57309.3, 69358.31, 62151.66, 72887.27, 61887.74, 92418.93, 93610.64, 81284.77, 70684.5, 71113.87, 73701.21, 79479.83, 83604.24, 84099.93, 76166.92, 87584.78, 62003.27, 48504.61, 75792.74, 69301.11, 46238.13, 72080.46, 58981.59, 89027.32, 102186.91, 111034.46, 56247.62, 65275.99, 81696.21, 79131.6, 51346.85, 53668.25, 70791.18, 69699.12, 66410.75, 57487.25, 63131.61, 66750.57, 52932.99, 65262.7, 76772.94, 84206.28, 71582.83, 99805.37, 52106.64, 83007.15, 75076.83, 69335.91, 52773.25, 64124.43, 52491.4, 77619.98, 74798.82, 65881.29, 92498.19, 87933.81, 55138.94, 51840.92, 69178.83, 79362.73, 53634.33, 87547.45, 90475.15, 62670.66, 85698.13, 97915.98, 99335.45, 120926.16, 92059.03, 84860.37, 111286.42, 103037.29, 3885.33]
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 852767025.5, 2880803251.1, 4152764420.43, 4800131017.63, 8916371026.71, 4935293269.34, 7819668573.54, 6611291054.54, 8399391824.5, 12911509515.15, 11605525426.72, 13235567494.43, 12939826656.08, 12180594187.19, 15188282492.21, 8472337393.44, 13785169734.67, 19978657434.5, 24605148038.56, 14664369885.26, 11445908790.0, 13578514179.16, 20946465314.24, 15243042963.48, 22289024731.56, 19196718655.36, 21771996164.35, 16158129361.22, 20288906594.4, 30890433511.98, 36170762446.61, 32973409656.55, 17332251959.14, 22989806806.04, 17379357421.65, 32495776443.25, 27153893113.41, 37067448615.67, 34378918425.26, 35384987972.04, 21264473651.32, 25499539875.43, 21170512729.15, 31365704323.76, 42197624282.98, 36025176091.64, 33336570779.05, 19739583856.9, 31073651806.02, 19434734720.72, 34581951805.28, 32624340714.19, 32896586962.84, 44770967993.88, 39949038581.7, 25352085783.68, 41310410083.65, 37855672839.57, 61109074782.14, 22422167816.12, 38129100898.5, 50140126553.38, 35834855707.82, 28076950987.61, 21483609371.32, 45685757610.32, 42428673337.37, 47125839378.33, 25518009820.9, 29539405139.29, 40068525202.07, 19527025062.57, 57498912027.67, 72338656794.63, 17876837395.03, 68542215780.47, 35424803856.86, 43393027977.73, 33736470588.18, 61249826853.31, 19647676070.31, 53574768089.74, 56005122093.94, 39862863201.31, 30656220806.41, 30273704070.81, 86433492707.25, 39370393805.76, 50466514297.2, 48883470669.63, 31609994585.63, 66827972982.29, 47743858906.33, 59511598956.89, 47475535860.43, 37507133026.79, 46573722616.1, 43846811310.98, 89044398075.42, 81510394970.78, 57993251109.91, 49819314522.51, 54241263583.79, 39193903977.5, 97618035712.64, 24634604052.92, 60761499095.85, 53126724090.99, 59203219932.39, 35231687704.2, 39180612604.67, 68567516128.2, 51881700911.13, 63668149203.44, 68545239384.59, 56099164116.3, 63270195959.15, 73926174376.56, 58211065962.55, 67151872943.04, 47302300444.18, 48906060426.68, 78002102971.82, 91162268128.23, 105677717920.98, 67878831646.43, 65648825999.55, 78764993260.61, 80643616403.92, 87589842997.54, 27991459180.36, 70849077686.23, 121043698310.44, 24144284372.12, 53447358531.54, 82246737410.94, 72909673666.89, 120637354594.3, 68799683345.71, 99899528381.28, 116139467608.41, 28722653627.29, 41671739481.49, 140223884627.8, 26424638835.54, 26439304658.79, 109141111812.18, 66847344233.82, 32914733423.69, 145500948122.85, 85632354606.38, 33031983914.55, 67211080688.58, 124344209354.87, 117056983607.19, 179268989197.49, 21615456535.24, 25229613550.66, 34066010583.36, 98745296135.98, 236277729886.94, 97723962325.48, 155085896161.66, 61189993990.11, 109693434865.24, 52448419223.86, 28215133369.88, 77638763375.84, 24165017492.77, 128912159263.58, 154373704094.57, 26452456151.14, 29323620033.72, 77217519095.86, 59070425569.09, 72581896326.18, 47848185447.74, 44007364836.26, 97846524332.84, 82633395647.1, 167524401404.09, 25497701817.26, 128078944524.41, 84168106148.63, 97434300451.92, 63087346378.79, 80042437437.36, 119022601333.98, 77636340619.19, 52615124336.76, 125192699503.06, 108380075111.81, 81570411925.7, 72643390022.05, 61017685087.11, 105216875169.7, 50636298742.6, 125775943279.32, 127116871058.19, 73871458494.79, 108510534187.03, 128839493835.44, 51340999327.76, 78050586416.15, 93596744830.0, 44195166189.45, 102785789631.4, 120465974991.24, 136958117823.83, 99243544160.78, 108124186241.06, 102248201380.4, 106334691290.44, 95524361746.12, 91266825944.27, 125453392102.25, 94352919506.7, 70780973898.33, 78158290148.3, 120543816732.32, 132534195139.42, 92722287878.78, 107372682294.2, 85963944194.67, 104037457593.28, 93227493952.47, 111646856834.88, 98222553922.19, 147870287846.37, 149777019319.07, 130055639977.55, 113957551903.22, 118422706633.6, 125292065429.82, 136332042393.4, 149102315869.14, 151379882597.0, 137100453700.86, 157652603058.11, 111605886520.13, 88936472466.5, 143927614286.28, 136802893822.93, 92476255680.02, 144160918007.74, 117963177569.8, 178054636886.98, 204373813717.4, 222068917992.28, 112495237251.18, 130551972865.08, 169250480722.26, 171413055590.72, 112963063694.73, 122317158138.22, 163715868744.61, 167267102839.03, 164791024498.32, 143718134583.2, 157829015103.45, 166876423458.58, 134279954169.33, 170664841421.06, 209456878022.68, 235777588731.86, 209801087273.84, 299416103743.83, 156319912173.45, 249021462295.56, 225230502445.32, 208078971012.86, 166951553667.72, 211809186192.24, 182381076043.65, 271669925074.94, 264129881615.63, 245893349007.74, 360558050495.57, 351735258065.84, 220555777946.48, 207702243707.16, 291476591027.56, 356328963401.1, 250032525811.02, 431142792469.17, 452375747063.65, 316677612104.49, 474495641119.7, 587412014415.99, 620299531380.56, 847623386692.98, 716399208516.26, 790758236841.27, 1283569292342.8, 2037404865101.05, 283032191752.2]
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 9702.31, 34985.48, 49446.64, 63836.18, 79028.17, 92292.55, 99999.99, 100000.0, 109470.79, 120602.4, 140209.14, 149999.99, 150000.0, 159214.15, 178412.41, 199689.15, 200000.0, 199999.99, 200000.0, 200000.0, 200000.01, 203400.34, 233626.02, 244486.45, 250000.0, 259961.6, 284947.44, 300000.01, 299999.99, 300000.0, 300000.0, 299999.99, 300000.02, 300000.0, 300000.01, 316526.76, 344366.0, 349999.99, 355682.24, 366288.07, 396052.85, 400000.0, 400000.01, 400000.0, 400000.0, 400000.0, 399999.99, 400000.0, 400000.0, 408901.55, 435493.62, 450000.03, 451047.02, 475882.8, 486104.96, 500000.02, 500000.0, 499999.97, 500000.0, 499999.95, 500000.01, 500000.02, 500000.01, 500000.02, 503769.53, 530573.0, 554184.11, 580382.99, 599999.95, 600000.02, 599999.96, 600000.03, 600000.0, 599999.99, 599999.98, 599999.98, 600000.0, 600000.03, 600000.01, 600000.03, 599999.94, 633691.25, 649999.97, 676138.65, 700000.02, 699999.98, 699999.99, 700000.0, 700000.0, 700000.0, 707568.06, 727092.58, 749999.98, 766902.84, 800000.0, 799999.94, 800000.04, 800000.06, 799999.98, 800000.03, 800000.04, 800000.04, 799999.99, 800000.0, 800000.03, 799999.87, 830980.58, 850333.71, 884999.39, 899999.99, 900000.08, 899999.99, 900000.07, 899999.97, 899999.97, 907759.93, 946852.74, 960158.0, 994137.0, 1000000.04, 1000000.01, 1000000.01, 1000000.04, 999999.98, 999999.98, 1000000.02, 999999.94, 1000000.04, 999999.96, 1000000.03, 999999.97, 999999.97, 999999.99, 1000000.18, 1016966.36, 1063920.24, 1100000.03, 1100000.02, 1099999.94, 1123538.26, 1157608.02, 1159999.92, 1160000.11, 1159999.99, 1160000.05, 1160000.2, 1159999.94, 1160000.02, 1160000.01, 1160000.02, 1159999.93, 1159999.93, 1159999.94, 1160000.04, 1160000.03, 1160000.02, 1160000.26, 1159999.83, 1160000.02, 1159999.94, 1159999.99, 1159999.93, 1159999.98, 1160000.11, 1159999.95, 1160000.12, 1160000.04, 1159999.97, 1160000.09, 1160000.02, 1159999.99, 1160000.08, 1160000.13, 1159999.94, 1185684.56, 1200000.07, 1199999.94, 1200000.13, 1200000.0, 1200000.05, 1199999.98, 1200000.27, 1200000.04, 1199999.97, 1200000.01, 1199999.97, 1200000.02, 1200000.01, 1200000.01, 1202239.28, 1238291.67, 1275378.7, 1300000.01, 1300000.02, 1300000.02, 1299999.97, 1299999.97, 1299999.94, 1299999.98, 1299999.97, 1300000.03, 1300000.04, 1299999.88, 1300000.06, 1299999.93, 1300045.19, 1330726.44, 1354702.69, 1372835.48, 1399999.92, 1400000.03, 1399999.99, 1400000.02, 1405657.24, 1445920.82, 1485145.19, 1499999.91, 1499999.87, 1499999.91, 1500000.08, 1500000.0, 1499999.97, 1499999.96, 1499999.9, 1499999.89, 1500000.06, 1531774.44, 1587108.43, 1600000.0, 1599999.95, 1600000.1, 1612200.01, 1665254.71, 1700000.11, 1715303.65, 1783430.07, 1800000.1, 1799999.97, 1799999.99, 1800000.01, 1833567.42, 1898963.07, 1974036.11, 1999999.91, 1999999.97, 1999999.96, 1999999.97, 1999999.94, 1999999.98, 1999999.95, 1999999.89, 2071705.42, 2166177.05, 2199999.88, 2279134.46, 2312659.13, 2399845.26, 2481390.81, 2500000.17, 2499999.84, 2499999.98, 2536791.41, 2615044.14, 2728264.39, 2800000.06, 2930885.62, 2999999.94, 2999999.85, 3000000.15, 3000000.17, 3001027.48, 3163564.0, 3303096.59, 3474494.41, 3499999.94, 3531203.86, 3732369.98, 3898001.14, 4000000.21, 4000000.33, 4006530.82, 4213378.44, 4489877.85, 4661800.12, 4924675.62, 4999999.97, 5053044.15, 5536826.08, 5999143.49, 6244493.09, 7009429.45, 7781954.78, 9318345.38, 11533925.63, 19773470.99, 72846371.29]

In [27]:
percentageList = []
newValue2 =0

for i in range(len(countList)):
    newValue2 += countList[i]/sum(countList)*100
    percentageList.append(round(newValue2,2))

print(percentageList)

[0.32, 0.51, 0.85, 1.17, 1.31, 1.78, 2.51, 2.8, 3.31, 3.73, 4.14, 4.43, 4.68, 5.29, 5.43, 5.82, 6.18, 6.55, 6.88, 7.37, 7.61, 7.95, 8.24, 8.58, 9.05, 9.41, 9.8, 10.18, 10.51, 10.89, 11.07, 11.37, 11.81, 12.35, 12.67, 12.93, 13.22, 13.61, 13.89, 14.28, 14.6, 14.94, 15.17, 15.47, 15.92, 16.45, 16.93, 17.18, 17.52, 17.78, 18.23, 18.57, 19.04, 19.46, 19.88, 20.12, 20.4, 20.63, 20.98, 21.44, 21.83, 22.2, 22.42, 22.76, 22.96, 23.31, 23.63, 23.95, 24.36, 24.72, 24.95, 25.31, 25.64, 26.18, 26.37, 26.71, 27.15, 27.46, 27.71, 27.9, 28.27, 28.61, 28.97, 29.15, 29.37, 29.66, 29.81, 30.23, 30.75, 30.89, 31.39, 31.65, 31.96, 32.21, 32.66, 32.8, 33.17, 33.55, 33.81, 34.0, 34.19, 34.73, 34.98, 35.3, 35.6, 35.8, 36.2, 36.48, 36.82, 37.08, 37.29, 37.54, 37.78, 38.27, 38.72, 39.04, 39.31, 39.61, 39.82, 40.36, 40.49, 40.81, 41.09, 41.38, 41.55, 41.74, 42.08, 42.33, 42.64, 42.97, 43.25, 43.54, 43.88, 44.13, 44.43, 44.64, 44.85, 45.19, 45.59, 46.06, 46.35, 46.64, 46.99, 47.34, 47.73, 47.85, 48.16, 48.69, 48.8, 49.03, 49.37, 49.66, 50.14, 50.41, 50.8, 51.24, 51.35, 51.51, 52.04, 52.14, 52.24, 52.65, 52.9, 53.03, 53.58, 53.9, 54.03, 54.28, 54.75, 55.2, 55.87, 55.95, 56.05, 56.18, 56.55, 57.45, 57.82, 58.4, 58.63, 59.05, 59.25, 59.35, 59.65, 59.74, 60.23, 60.81, 60.91, 61.02, 61.31, 61.53, 61.8, 61.97, 62.13, 62.49, 62.79, 63.41, 63.5, 63.97, 64.27, 64.63, 64.86, 65.15, 65.59, 65.87, 66.06, 66.51, 66.88, 67.16, 67.4, 67.61, 67.96, 68.13, 68.56, 68.99, 69.24, 69.6, 70.04, 70.21, 70.47, 70.79, 70.94, 71.28, 71.67, 72.11, 72.42, 72.76, 73.08, 73.41, 73.71, 73.98, 74.35, 74.63, 74.84, 75.07, 75.42, 75.81, 76.08, 76.39, 76.64, 76.95, 77.22, 77.54, 77.81, 78.22, 78.63, 78.98, 79.29, 79.61, 79.93, 80.28, 80.65, 81.01, 81.35, 81.73, 82.0, 82.22, 82.55, 82.85, 83.06, 83.37, 83.63, 84.02, 84.47, 84.96, 85.2, 85.49, 85.85, 86.2, 86.42, 86.66, 86.97, 87.27, 87.56, 87.82, 88.09, 88.39, 88.62, 88.91, 89.24, 89.61, 89.93, 90.36, 90.59, 90.96, 91.29, 91.59, 91.82, 92.1, 92.33, 92.67, 93.0, 93.29, 93.7, 94.08, 94.32, 94.55, 94.86, 95.2, 95.44, 95.82, 96.22, 96.49, 96.87, 97.3, 97.74, 98.27, 98.67, 99.04, 99.53, 99.98, 100.0]

In [59]:
import csv 

fields = ['countList', 'incomeList', 'percentageList']
rows = [countList, incomeList, percentageList]

In [63]:
df = pd.DataFrame()

df['countList'] = countList
df['incomeList'] = incomeList
df['percentageList'] = percentageList
df

     countList   incomeList  percentageList
0     73031.69         0.00            0.32
1     43881.98         0.00            0.51
2     77090.05         0.00            0.85
3     73153.37         0.00            1.17
4     30744.77         0.00            1.31
..         ...          ...             ...
306   92059.03   7781954.78           98.67
307   84860.37   9318345.38           99.04
308  111286.42  11533925.63           99.53
309  103037.29  19773470.99           99.98
310    3885.33  72846371.29          100.00

[311 rows x 3 columns]

In [66]:
df.to_csv('Libro2.csv') # relative position

In [102]:
newList = [0]
count = 0 

while count < 73000000:
    count+=100000
    newList.append(count)


df2 = pd.DataFrame()
df2['index'] = newList

print(df2)

        index
0           0
1      100000
2      200000
3      300000
4      400000
..        ...
726  72600000
727  72700000
728  72800000
729  72900000
730  73000000

[731 rows x 1 columns]

In [107]:
import pandas as pd

# Assuming you have a DataFrame named 'df' and a list named 'newList'

# Create a new column in the DataFrame to store the assigned values
df['assigned_value'] = None

# Iterate over the indices of the DataFrame
for i in range(len(df)):
    # Get the current data point from the DataFrame
    data_point = df['incomeList'][i]
    
    # Check if the data point falls between the values in the newList

    for j in range(len(df2)-1):

        mask = (df2['index'][j] <= data_point) & (data_point < df2['index'][j+1])
        
        # Check if any match is found
        if mask.any():
            # Assign a value to the 'assigned_value' column in the DataFrame
            df.at[i, 'assigned_value'] = df2['index'][j]

# Print the updated DataFrame
display(df)

     countList   incomeList  percentageList assigned_value
0     73031.69         0.00            0.32              0
1     43881.98         0.00            0.51              0
2     77090.05         0.00            0.85              0
3     73153.37         0.00            1.17              0
4     30744.77         0.00            1.31              0
..         ...          ...             ...            ...
306   92059.03   7781954.78           98.67        7700000
307   84860.37   9318345.38           99.04        9300000
308  111286.42  11533925.63           99.53       11500000
309  103037.29  19773470.99           99.98       19700000
310    3885.33  72846371.29          100.00       72800000

[311 rows x 4 columns]

In [114]:
df2['assigned_value'] = None

for i in range(len(df2)-1):
    data_point = df2['index'][i]
    data_point2 = df2['index'][i+1]

    for j in range(len(df)):
        count =0
        if (df['incomeList'][j] <= data_point2) and (data_point < df['incomeList'][j]):
            count += df['countList'][j] 
            df2.at[i, 'assigned_value'] = count

# Print the updated DataFrame
display(df2)

        index assigned_value
0           0       66112.91
1      100000       73321.85
2      200000       76632.69
3      300000       77684.13
4      400000          310.0
..        ...            ...
726  72600000           None
727  72700000           None
728  72800000        3885.33
729  72900000           None
730  73000000           None

[731 rows x 2 columns]

In [119]:
listNumber = []
Number = 0

while Number <311:
    listNumber.append(Number)
    Number +=1